html {
    margin: 0;
    background-color: black;
}

.grid {
    margin-top: 200px;
    display: grid;
    place-items: center;
}

#profile {
    position: relative;
    min-width: 300px;
    font-family: Verdana, Tahoma, sans-serif;
    color: black;
    text-align: center;
    border: 4px solid white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
}

#edit-profile-form {
    position: relative;
    min-width: 300px;
    font-family: Verdana, Tahoma, sans-serif;
    color: black;
    text-align: center;
    border: 4px solid white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

#link-left {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
}

#link-right {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
}

#link-left-bottom {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 10px;
}

svg {
    width: 40px;
    height: 40px;
    color: white;
}

#edit-profile-form input {
    background:#d2d2d2;
    border: black 2px solid;
    padding: 8px;
    width: 250px;
    color: black;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 4px;
}

#edit-profile-form textarea {
    background:#d2d2d2;
    border: black 2px solid;
    padding: 8px;
    width: 250px;
    color: black;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 4px;
}

#edit-profile-form button {
    background:#d2d2d2;
    border: black 2px solid;
    padding: 8px;
    width: 100px;
    color: black;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1em;
    border-radius: 4px;
}

#edit-profile-form button:hover {
    background-color: black;
    color: white;
}

#error-messages {
    color: red;
}