{% extends 'base.html' %}
{% load static %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block base_title %}
    Edit Profile
{% endblock %}

{% block base_content %}
<section class="grid">
    <form id="edit-profile-form" method="POST" enctype="multipart/form-data">

        <a href="{% url 'profile_page' user_id %}" id="link-left"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
          </svg>                   
        </a>

        <img src="{{ user_image }}" alt="avatar"><br>
        {% for error in errors %}
        <p id="error-messages">{{ error }}</p>
        {% endfor %}

        {% csrf_token %}
        
        <input type="hidden" name="user_id" value="{{ user_id }}">
        {% for field in form %}
        {{ field }}<br>
        {% endfor %}
        <button>Edit</button>
    </form>
    <script>random_color("edit-profile-form")</script>
</section>
{% endblock %}