{% extends 'base.html' %}
{% load static %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block base_title %}
    Home
{% endblock %}

{% block base_content %}
    <section class="grid">
        <div id="profile">
            {% if user_id == page_id %}
            <a href="{% url 'edit_profile_page' %}" id="link-left"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
              </svg>                     
            </a>
            {% else %}
            <a href="{% url 'profile_page' user_id %}" id="link-left"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>                                 
            </a>
            {% endif %}

            {% if user_id == "1" and user_id == page_id %}
            <a href="{% url 'admin_panel_page' %}" id="link-left-bottom"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" />
              </svg>                                   
            </a>
            {% endif %}

            <a href="{% url 'logout_page' %}" id="link-right"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
              </svg>                       
            </a>

            <img src="{{ user_info.user_image.url }}" alt="avatar">
            <h2>{{ user_info.user_name }} / <a href="mailto:{{ user_info.user_email }}">email</a></h2>
            {% if user_info.user_details %}
            <p>{{ user_info.user_details }}</p>
            {% endif %}
        </div>
    </section>
    <script>random_color("profile")</script>
{% endblock %}