html {
    color: white;
    margin: 0;
    background-color: black;
}

.grid {
    margin-top: 200px;
    display: grid;
    place-items: center;
}

#admin-form {
    position: relative;
    min-width: 300px;
    font-family: Verdana, Tahoma, sans-serif;
    color: black;
    text-align: center;
    border: 4px solid white;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

li {
    list-style-type: none;
}